{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}
<div class="container" xmlns:cart="http://www.w3.org/1999/xhtml">
      <div class="row" style="margin-top: 5%">

        <div class="col-sm-50 blog-main">

          <div class="blog-post">
              <div class="row">
                <div class="card" style ="background-color: #eeefee">
                    <div class="card-body">
                        <div class="col-md-1 text-right">
                            <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img1/default.jpg' %} {% endif %}" alt="..." style="height: 170px; width: auto">
                        </div>
                        <div class="col-md-6" style="padding-left: 20px;margin-top: 10%">
                            <h3 style="white-space: nowrap;">{{ product.name|safe|linebreaksbr }}</h3>
                            <h6 style="white-space: nowrap;"><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h6>
                            <p style="white-space: nowrap" class="text-muted">Cash: {{ product.price }}$</p>
                            <p class="text-muted">stock: {{ product.stock }}</p>

                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                {% csrf_token %}
                                {{ cart_product_form }}
                                {{ product.update_quantity_form.quantity}}
                                {{ product.update_quantity_form.update }}
                                <input type="submit" value="add to cart" class="btn btn-primary">

                            <p style="margin-top: 10%">{{ product.description|safe|linebreaksbr }}</p>
                        </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}